@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans Condensed", sans-serif;
}

.main {
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.main__title {
  color: #ff3b3f;
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.main__flower {
  height: 70px;
  width: auto;
  margin: 5% 0;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main__section__title {
  font-size: 1em;
  color: #a9a9a9;
  grid-column: 3 span;
}

.main__section__article {
  grid-column: 1 span;
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 70px 0 0 0;
}

.section__hello {
  background-color: #a9a9a9;
}

.section__pilosophy {
  background-color: #caebf2;
}

.section__porfolio {
  background-color: #ff3b3f;
}

.section__interest {
  background-color: #efefef;
}

.section__resume {
  background-color: #a9a9a9;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.myName__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 100%;
  border-right: 1px #a9a9a9 solid;
}

.header__myName {
  display: inline;
  color: #ff3b3f;
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-size: 1em;
  margin: 0 20px;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline;
  padding: 0 10px;
  line-height: 20px;
}

@media (min-width: 400px) {
  .section {
    padding: 0 70px 0 0;
  }

  .header {
    right: 0;
    width: 70px;
    height: 100vh;
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .myName__container {
    border-right: none;
    border-bottom: 1px #a9a9a9 solid;
    width: 70px;
    height: 90px;
  }

  .header__myName {
    margin: 20px 0;
  }

  .nav {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__item {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
  }
}

/*# sourceMappingURL=main.css.map */
