@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico');

$colorSky: #caebf2;
$colorCarbon: #a9a9a9;
$colorWatermelon: #ff3b3f;
$colorNeutral: #efefef;
$colorLemon: #D2DD30;

$colorred: #F3788B;
$colorRedDark: #DE2E4C;
$colorYellow: #E9E169;
$colorYellowDark: #C5AF2D;
$colorGreen: #CDF5C8;
$colorGreenDark:#6FCF6F;
$colorTurquoise: #3BC8F7;
$colorTurquoiseDark: #1472CE;
$colorPurple: #C9A2E1;
$colorPurpleDark: #653BA2;
$colorPink: #F4C8EA;
$colorPinkDark: #EA5BAF;

$fontHandWrite: 'Pacifico', cursive;
$fontRegular: 'Open Sans Condensed', sans-serif;
$fontWeightLight: 300;
$fontWeightHeavy: 700;
