@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico');

$colorSky: #caebf2;
$colorCarbon: #a9a9a9;
$colorWatermelon: #ff3b3f;
$colorNeutra: #efefef;


$fontHandWrite: 'Pacifico', cursive;
$fontRegular: 'Open Sans Condensed', sans-serif;
$fontWeightLight: 300;
$fontWeightHeavy: 700;
