.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	@media (min-width: 400px) {
			right: 0;
			width: 70px;
			height: 100vh;
			border-bottom: none;
			flex-direction: column;
			// writing-mode: vertical-lr;
		}
}
.myName__container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 100%;
	border-right: 1px $colorCarbon solid;
	@media (min-width: 400px) {
		border-right: none;
		border-bottom: 1px $colorCarbon solid;
		width: 70px;
		height: 90px;
	}
}
.header__myName {
	display: inline;
	color: $colorWatermelon;
	font-family: $fontHandWrite;
	font-weight: $fontWeightHeavy;
	font-size: 1em;
	margin: 0 20px;
	@media (min-width: 400px) {
		margin: 20px 0;
	}
}
.nav {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: $fontRegular;
	@media (min-width: 400px) {
		height: 100%;
		align-items: center;
		}
}
.nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav__item {
	display: inline;
	padding: 0 10px;
	line-height: 20px;
	@media (min-width: 400px) {
		display: block;
		flex-direction: column;
		padding: 10px 0;
	}
	@media (min-height: 500px){}
}
