.page {
	height: 100vh;
	border: 0;
	padding: 0;
	display: flex;
}
.page--one {
	background-color: $colorRedDark;
}
.page--two {
	background-color: $colorYellow;
}
.page--three {
	background-color: $colorGreenDark;
}
.page--four {
	background-color: $colorTurquoise;
}
.page--five {
	background-color: $colorPurple;
}
.page--six {
	background-color: $colorPinkDark;
}
